$background-1: #30333d;
$background-2: #292b34;
$background-3: #585e74;

$accent-1: #f9929b;
$accent-2: #fbdf90;
$accent-3: #fbeab9;
$accent-5: #9ce5c0;
$accent-6: #7ed491;
$accent-4: #a3b8ef;
$accent-7: #ccaced;
$accent-8: #d7c1ed;

$primary-accent: $accent-7;
$secondary-accent: $accent-6;

//$foreground-color: lighten($background-3, 45%);
$foreground-color: #ffffff;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$background-2};
